<a href="https://colab.research.google.com/github/Meena6714/Day1-Assignment/blob/main/day2%20Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Difference between the list and tuple?

In [ ]:
Lists in python are mutable(modifiable) collections denoted by square brackets, allowing dynamic changes to elements. On other hand, tuples are immutable(unchangeable) collections enclosed in parenthesis, providing fixed and secure data structures.

## 2.How list is different from an array

In [ ]:
List allow mixed data types and versatile operations. Arrays, from the array module, demand uniform elements types are optimize for numerical computations. List are built-in, while arrays require importing the array module.

## 3. Use the python list append(),copy(), clear, count, extends(), index(), insert(), pop(), reverse(), sort(), min(), max(),and sum()

In [ ]:
#append
My_list=[]
My_list.append(1)
My_list.append('hello')
My_list.append(23)
print(My_list)

[1, 'hello', 23]

In [ ]:
#copy
original_list = [1,2,3,4]
shallow_copy = original_list[:]
print("original list:", original_list)
print("shallow copy:", shallow_copy)

original list: [1, 2, 3, 4]
shallow copy: [1, 2, 3, 4]

In [ ]:
#Clear
My_list = [1, 2,3,4]
My_list.clear()
print('cleared list:', My_list)

cleared list: []

In [ ]:
my_list = [1,2,3,4,2,4,2]
Count_of_2 = my_list.count(2)
print('Count of 2:',Count_of_2)

Count of 2: 3

In [ ]:
#extend
list1 = [1,2,3]
list2 = [4,5,6]
list1.extend(list2)
print("extended list:", list1)

extended list: [1, 2, 3, 4, 5, 6]

In [ ]:
#index
my_list = [10, 20, 30, 40, 50]
index_of_30 = my_list.index(30)
print("Index of 30:", index_of_30)

Index of 30: 2

In [ ]:
#insert
My_list=[1,2,3,4,5]
My_list.insert(2, 10)
print("modified list:", my_list)

modified list: [10, 20, 30, 40, 50]

In [ ]:
#pop
My_list=[1,2,3,4,5]
removed_element=My_list.pop(2)
print("modified list:", my_list)
print("removed element:", removed_element)

modified list: [10, 20, 30, 40, 50]
removed element: 3

In [ ]:
#reverse
My_list=[1,2,3,4,5]
My_list.reverse()
print('reversed list:',My_list)

reversed list: [5, 4, 3, 2, 1]

In [ ]:
#sort
My_list=[5,2,3,4,6]
My_list.sort()
print("sorted list:",My_list)

sorted list: [2, 3, 4, 5, 6]

In [ ]:
My_list=[5,2,3,4,6]
min_value=min(My_list)
print("minimum value:", min_value)

minimum value: 2

In [ ]:
My_list=[5,2,3,4,6]
max_value=max(My_list)
print("maximum value:", max_value)

maximum value: 6

In [ ]:
#sum
My_list=[5,2,8,1,3]
sum_of_elements=sum(My_list)
print("sum of elements:", sum_of_elements)

sum of elements: 19

## 4, How would you divide the list into two parts?

In [ ]:

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
mid_point = len(my_list) // 2
first_part = my_list[:mid_point]
second_part = my_list[mid_point:]
print("First Part:", first_part)
print("Second Part:", second_part)

First Part: [1, 2, 3, 4, 5]
Second Part: [6, 7, 8, 9, 10]

## 5. how to filter the multiple of 3 from a given list and them remove the odd number from the new filtered list.
Eg A = [1,2,3,4,5,6,7,8,9,21,23,24]
Filter_lsit = [3,6,9,21,24]
output_list = [6,24]

In [ ]:
my_list = [1,2,3,4,5,6,7,8, 9, 10]
multiples_of_3 = [num for num in my_list if num % 3 == 0]
filtered_list = [num for num in multiples_of_3 if num % 2 == 0]
print("Filtered List:", filtered_list)

Filtered List: [6]

## 6. How you can access keys and values simultaneously and update its value

In [ ]:

 my_dict = {'a': 1, 'b': 2, 'c': 3}
 for key, value in my_dict.items():
    print("Key:", key, "| Value:", value)
for key in my_dict:
    my_dict[key] = my_dict[key] * 2
print("Updated Dictionary:", my_dict)

Key: a | Value: 1
Key: b | Value: 2
Key: c | Value: 3
Updated Dictionary: {'a': 2, 'b': 4, 'c': 6}

## 7. Write python program to join, merge, concatente the two dictionaries..

In [ ]:
# Sample dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

# Method 1: Using dictionary unpacking (Python 3.5 and later)
merged_dict = {**dict1, **dict2}
print("Merged Dictionary (Method 1):", merged_dict)

# Method 2: Using the chain() method from itertools
from itertools import chain

concatenated_dict = dict(chain(dict1.items(), dict2.items()))
print("Concatenated Dictionary (Method 2):", concatenated_dict)

Merged Dictionary (Method 1): {'a': 1, 'b': 3, 'c': 4}
Concatenated Dictionary (Method 2): {'a': 1, 'b': 3, 'c': 4}

## 8. How would you check a specific keys from the dictionary??

In [ ]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
key_to_check1 = 'age'
key_to_check2 = 'gender'
if key_to_check1 in my_dict:
    print(f"{key_to_check1} exists with value: {my_dict[key_to_check1]}")
else:
    print(f"{key_to_check1} does not exist in the dictionary")

if key_to_check2 in my_dict:
    print(f"{key_to_check2} exists with value: {my_dict[key_to_check2]}")
else:
    print(f"{key_to_check2} does not exist in the dictionary")

age exists with value: 25
gender does not exist in the dictionary

## 9. write a python program to find the unique vowel present in the sentence

In [ ]:
sentence = input("Enter a sentence: ").lower()
unique_vowels = set()
for char in sentence:
    if char in 'aeiou' and char not in unique_vowels:
        unique_vowels.add(char)
print("Unique Vowels in the Sentence:", ', '.join(unique_vowels))

Enter a sentence: Hello
Unique Vowels in the Sentence: o, e

## 10. We know that tuple is immutable, do any thing and add element to the tuples.

In [ ]:
No, once a tuple is created, it is immutable, which means you cannot add, remove, or modify elements in the tuple. The length and elements of a tuple cannot be changed after creation.

## 11. How would you sum the list of tuple and sum of tuple of list
list  = [(2,3),(4,5),(6,4)]
output= [5,9,10]

tuple  =([2,3],[4,5],[6,4])
output  =  (5,9,10)

In [ ]:

list_of_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
sum_of_elements_within_tuple = [sum(t) for t in list_of_tuples]
sum_of_each_tuple = sum(list_of_tuples,())
print("Sum of elements within each tuple:", sum_of_elements_within_tuple)
print("Sum of each tuple:", sum_of_each_tuple)

Sum of elements within each tuple: [6, 15, 24]
Sum of each tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)

## 12. FIND THE FREQUENCY OF THE KEYS IN THE GIVEN DICTIONARY

In [ ]:

my_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2, 'f': 1}
key_frequency = {}
for key in my_dict:
    key_frequency[key] = key_frequency.get(key, 0)
for key, frequency in key_frequency.items():
    print(f"The key '{key}' appears {frequency} times in the dictionary.")

The key 'a' appears 0 times in the dictionary.
The key 'b' appears 0 times in the dictionary.
The key 'c' appears 0 times in the dictionary.
The key 'd' appears 0 times in the dictionary.
The key 'e' appears 0 times in the dictionary.
The key 'f' appears 0 times in the dictionary.